<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="canvasWrapper">
        <div>
            <input type="file" name="file" (change)="onUpload($event)" class="btn" />
            <button (click)="savedImgRectData()" class="btn btn-primary">Save</button>
        </div>

        <div class="drawingWrapper" #wrapper>
            <img [src]="uploadedImage">
            <canvas class="drawing" *ngIf="isSaveImgRectData == false" #canvas (mousedown)="dragStart($event)"
                (mousemove)="drag($event)"></canvas>
        </div>
    </div>




    <!-- <div>

         <button (click)="generateCanvas()">Clear canvas </button> 
        <input type="file" name="file" (change)="OnUpload($event)" />
        <img [src]="uploadedImage">

        <canvas class="drawingwrapper" #canvas (mousedown)="dragStart($event)" (mousemove)="drag($event)"></canvas>

    </div> -->

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <app-price-card Text="EARNINGS (ANNUAL)" Currency="$" Price="12312" Icon="fas fa-calendar"></app-price-card>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <app-price-card Text="EARNINGS (ANNUAL)" Currency="$" Price="12312" Icon="fas fa-calendar"></app-price-card>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <app-price-card Text="EARNINGS (ANNUAL)" Currency="$" Price="12312" Icon="fas fa-calendar"></app-price-card>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <app-price-card Text="EARNINGS (ANNUAL)" Currency="$" Price="12312" Icon="fas fa-calendar"></app-price-card>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
                    <app-progress-bar Progress="20%" Type="bg-danger"></app-progress-bar>
                    <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                    <app-progress-bar Progress="40%" Type="bg-warning"></app-progress-bar>
                    <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
                    <app-progress-bar Progress="60%" Type="bg-info"></app-progress-bar>
                    <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
                    <app-progress-bar Progress="80%" Type="bg-info"></app-progress-bar>
                    <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                    <app-progress-bar Progress="100%" Type="bg-success"></app-progress-bar>
                </div>
            </div>

            <!-- Color System -->
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <app-alert-card Heading="Primary" Message="#4e73df" Type="bg-primary"></app-alert-card>
                </div>
                <div class="col-lg-6 mb-4">
                    <app-alert-card Heading="Success" Message="#1cc88a" Type="bg-success"></app-alert-card>
                </div>
                <div class="col-lg-6 mb-4">
                    <app-alert-card Heading="Info" Message="#36b9cc" Type="bg-info"></app-alert-card>
                </div>
                <div class="col-lg-6 mb-4">
                    <app-alert-card Heading="Warning" Message="#f6c23e" Type="bg-warning"></app-alert-card>
                </div>
                <div class="col-lg-6 mb-4">
                    <app-alert-card Heading="Danger" Message="#e74a3b" Type="bg-danger"></app-alert-card>
                </div>
                <div class="col-lg-6 mb-4">
                    <app-alert-card Heading="Secondary" Message="#858796" Type="bg-secondary"></app-alert-card>
                </div>
                <div class="col-lg-6 mb-4">
                    <app-alert-card Heading="Dark" Message="#5a5c69" Type="bg-dark"></app-alert-card>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <app-card Heading="Development Approach">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="/development.jpg"
                        alt="...">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                    unDraw &rarr;</a>
            </app-card>
            <app-card Heading="Illustrations">
                <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                    CSS bloat and poor page performance. Custom CSS classes are used to create
                    custom components and custom utility classes.</p>
                <p class="mb-0">Before working with this theme, you should become familiar with the
                    Bootstrap framework, especially the utility classes.</p>
            </app-card>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->