<div class="modal-header">
    <button type="button" class="close" (click)="activeModal.dismiss()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <form class="user" (ngSubmit)="Submit()" [formGroup]="form">
        <!-- <div class="form-group d-none">
            <input type="text" class="form-control form-control-user" formControlName="ID"
                id="ID" placeholder="ID">
        </div> -->
        <div class="form-group">
            <input type="text" class="form-control form-control-user" formControlName="UserName"
                id="Usernameaa" placeholder="User name">
            <div *ngIf="(form.controls['UserName'].touched || submitted) && form.controls['UserName'].errors != null">
                This field is mandatory.
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" formControlName="Email" id="Email"
                placeholder="Email Address">
                <div *ngIf="(form.controls['Email'].touched || submitted) && form.controls['Email'].errors != null">
                This field is mandatory.
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" formControlName="Password" id="Password"
                placeholder="Password">
                <div *ngIf="(form.controls['Password'].touched || submitted) && form.controls['Password'].errors != null">
                This field is mandatory.
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Save
        </button>
    </form>
</div>